In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel("D:\Downloads\Telegram Desktop\Batch-2 Senchola application details.xlsx")
df.head()
df.tail()

,Timestamp,Are you open to learn ?,Why you want to join this program ?,Do you have laptop,Name,Address,Qualification,Degree,Pass-out Year,College Name,City,State,What you wan to learn ?,Technical Feeback by,Technical Comments,HR Comments
424,2023-06-20 21:49:46.335,Yes,I'm a graduate in mechanical engineering. I wi...,Yes,Kamalesh Kannan,"4/4, mela street, vandrampalayam, puthurpalaya...",Engineering,Mechanical engineering,2021,Government college of engineering,Tiruchirapalli,Tamil Nadu,UI/UX Design,NaN,NaN,NaN
425,2023-06-21 17:17:28.469,Yes,I wish to switch my career into IT side.,Yes,Kamalesh kannan,"4/4, Mela street, vandrampalayam, puthurpalaya...",Engineering,Mechanical engineering,2021,"Government college of engineering,bodinayakanur",Tiruchirapalli,Tamil Nadu,UI/UX Design,NaN,NaN,NaN
426,2023-06-22 10:50:39.815,Yes,I want to become a highly skilled data scienti...,Yes,M. Ahamed Sheriff,"4/1 , Quaide Millath Street , Kaja Nagar, Tric...",Arts & Science,M.Sc. Chemistry,2023,Jamal Mohammad College,Trichy,Tamil Nadu,Data science,NaN,NaN,NaN
427,2023-06-22 20:45:48.865,Yes,Need job,Yes,ELANGOVAN S,"2, KAVAL KARAT STREET, WORAIYUR, TRICHY-620003.",Arts & Science,B. SC BIOINFORMATICS,2019,BISHOP HEBER COLLEGE,TRICHY,TAMILNADU,Backend Development,NaN,NaN,NaN
428,2023-06-23 12:28:08.511,Yes,"Becouse, I am a low middle class boy.I want to...",Yes,Balaji,"116/D, mettu street, Woraiyur, Trichy-03",Arts & Science,B.com,2019,Bishop heber college,Trichy,Tamilnadu,Backend Development,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Timestamp                            429 non-null    datetime64[ns]
 1   Are you open to learn ?              429 non-null    object
 2   Why you want to join this program ?  429 non-null    object
 3   Do you have laptop                   429 non-null    object
 4   Name                                 429 non-null    object
 5   Address                              429 non-null    object
 6   Qualification                        429 non-null    object
 7   Degree                               429 non-null    object
 8   Pass-out Year                        429 non-null    object
 9   College Name                         429 non-null    object
 10  City                                 429 non-null    object
 11  State                                429 non-null    object
 12  What you wan to learn ?              429 non-null    object
 13  Technical Feeback by                 352 non-null    object
 14  Technical Comments                   352 non-null    object
 15  HR Comments                          65 non-null     object
dtypes: datetime64[ns](1), object(15)
memory usage: 53.8+ KB

In [4]:
df.describe()

                           Timestamp
count                            429
mean   2023-06-02 16:51:55.194179328
min       2023-05-30 18:51:45.391000
25%    2023-05-31 14:29:08.288999936
50%    2023-05-31 21:29:15.670000128
75%       2023-06-02 22:46:20.804000
max       2023-06-23 12:28:08.511000

In [5]:
dfc = df.copy()
dfc = dfc.drop(dfc.columns[[0,2,4]],axis=1)

In [6]:
dfc = dfc.drop(dfc.columns[2],axis = 1)
dfc

,Are you open to learn ?,Do you have laptop,Qualification,Degree,Pass-out Year,College Name,City,State,What you wan to learn ?,Technical Feeback by,Technical Comments,HR Comments
0,Yes,Yes,Engineering,B.E Electronics and communication engineering,2021,"Dhanalakshmi srinivasan engineering college,pe...",Perambalur,Tamilnadu,Frontend Development,Vignesh,s,she wants to gain knowledge
1,Yes,Yes,Others,BCA,2023,The American College,Madurai,Tamilnadu,UI/UX Design,Vignesh,Not pic call,no response
2,Yes,Yes,Arts & Science,B.A English,2021,Nandha Arts And Science College,Erode,Tamilnadu,Backend Development,Vignesh,Not pic call,no response
3,Yes,Yes,Arts & Science,BCA,2023,Thanthai Hans Roever college of arts and scien...,Ariyalur,Tamilnadu,Backend Development,Vignesh,"He is interested in Python Backend Developer, ...",8870956961 please add his no. on the whatsap...
4,Yes,Yes,Arts & Science,M.sc.Data Analytics,2023,Bharathiar university.,Dharmapuri,Tamil Nadu,Cybersecurity,Vignesh,He is interested in Cyber security and did a c...,"9894233004 add his no. in whatsapp group, he ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
424,Yes,Yes,Engineering,Mechanical engineering,2021,Government college of engineering,Tiruchirapalli,Tamil Nadu,UI/UX Design,NaN,NaN,NaN
425,Yes,Yes,Engineering,Mechanical engineering,2021,"Government college of engineering,bodinayakanur",Tiruchirapalli,Tamil Nadu,UI/UX Design,NaN,NaN,NaN
426,Yes,Yes,Arts & Science,M.Sc. Chemistry,2023,Jamal Mohammad College,Trichy,Tamil Nadu,Data science,NaN,NaN,NaN
427,Yes,Yes,Arts & Science,B. SC BIOINFORMATICS,2019,BISHOP HEBER COLLEGE,TRICHY,TAMILNADU,Backend Development,NaN,NaN,NaN
428,Yes,Yes,Arts & Science,B.com,2019,Bishop heber college,Trichy,Tamilnadu,Backend Development,NaN,NaN,NaN

In [7]:
dfc.shape

(429, 12)

In [8]:
dfc.Qualification.unique()

array(['Engineering', 'Others', 'Arts & Science', 'Diploma', 'HS / HSS'],
      dtype=object)

In [9]:
udegree = dfc.Degree.unique()
udegree = sorted(map(str, udegree))
udegree

[' BE.computer science and engineering',
 '12',
 'Agriculture engineering',
 'B .E(electronics and instrumentation)',
 'B .tech IT',
 'B E - Mechanical',
 'B E, MECHANICAL',
 'B E. Computer Science ',
 'B Tech IT',
 'B Tech information Technology ',
 'B Tech(Information Technology)',
 'B sc',
 'B sc ',
 'B sc computer science',
 'B sc computer science ',
 'B. A - History',
 'B. Com',
 'B. E',
 'B. E computer science (still studying )  below the year of pass out was fake sorry for that one',
 'B. E-EEE',
 'B. E-computer science and engineering ',
 'B. SC BIOINFORMATICS',
 'B. Sc',
 'B. Sc Mathematics',
 'B. Sc Physics',
 'B. Tech',
 'B. Tech (IT) ',
 'B. Tech (Information technology) ',
 'B. Tech - CHEMICAL ENGINEERING',
 'B. Tech - ECE',
 'B. Tech(IT) ',
 'B. Tech,Chemical Engineering ',
 'B.A English',
 'B.A English literature ',
 'B.A., English ',
 'B.COM',
 'B.E',
 'B.E ',
 'B.E (EEE)',
 'B.E - CSE',
 'B.E COMPUTER SCIENCE AND ENGINEERING ',
 'B.E CSE',
 'B.E CSE ( Studying)  sir below this my year of pass out is fake sorry for that ',
 'B.E Civil Engineering ',
 'B.E Computer science and engineering',
 'B.E E.C.E',
 'B.E ECE',
 'B.E Electrical and Electronic Engineering ',
 'B.E Electronics and communication engineering',
 'B.E MECHANICAL ',
 'B.E Mechanical ',
 'B.E mechanical',
 'B.E(CSE)',
 'B.E(CSE) ',
 'B.E(ECE)',
 'B.E.',
 'B.E. (Computer Science and Engineering)',
 'B.E. - Computer Science and Engineering ',
 'B.E. Electronic and Instrumentation Engineering ',
 'B.E. computer science and engineering ',
 'B.E.CSE',
 'B.E.CSE ',
 'B.E.Computer Science and Engineering',
 'B.E/MECHANICAL ENGINEERING ',
 'B.Sc ',
 'B.Sc (mathematics)',
 'B.Sc Computer Science ',
 'B.Sc Mathematics ',
 'B.Sc Physics ',
 'B.Sc.CS',
 'B.Sc.Mathematics',
 'B.Tech',
 'B.Tech (Biotechnology)',
 'B.Tech (IT)',
 'B.Tech - ECE',
 'B.Tech - Information Technology',
 'B.Tech - Information technology ',
 'B.Tech Artificial Intelligence and Data Science (2025)',
 'B.Tech IT',
 'B.Tech Information Technology ',
 'B.Tech in IT',
 'B.Tech(IT)',
 'B.Tech-I.T.',
 'B.com',
 'B.com CA',
 'B.com corporate secretaryship ',
 'B.com with Computer Application ',
 'B.e computer Science ',
 'B.e. Mech',
 'B.sc',
 'B.sc Computer Science ',
 'B.sc Computer science ',
 'B.sc INFORMATION TECHNOLOGY',
 'B.sc chemistry ',
 'B.sc information technology',
 'B.sc information technology and management ',
 'B.sc mathematics ',
 'B.sc physics ',
 'B.sc(Food Science& Nutrition)',
 'B.sc(multimedia and web technology)',
 'B.tech',
 'B.tech (mechanical engineering)',
 'B.tech / Information technology ',
 'B.tech Chemical Engineering ',
 'B.tech EEE',
 'BACHELOR OF COMPUTER APPLICATION',
 'BBA',
 'BBA -CA ',
 'BCA',
 'BCA ',
 'BCA(bachelor of computer applications)',
 'BCA(computer application)',
 'BCS',
 'BE',
 'BE ',
 'BE (CSE)',
 'BE (computer science and engineering)',
 'BE - COMPUTER SCIENCE AND ENGINEERING',
 'BE - EEE',
 'BE - Mechanical Engineering ',
 'BE - mechanical engineering ',
 'BE Biomedical Engineering ',
 'BE COMPUTER SCIENCE AND ENGINEERING ',
 'BE CSE',
 'BE CSE ',
 'BE ECE',
 'BE ECE ',
 'BE EEE',
 'BE Electronic and Communication Engineering ',
 'BE MECHANICAL ENGINEERING',
 'BE MECHANICAL ENGINEERING ',
 'BE Mechanical Engineering',
 'BE Mechanical Engineering ',
 'BE computer Science and engineering',
 'BE computer science and engineering ',
 'BE mechanical ',
 'BE mechanical engineering ',
 'BE(CSE)',
 'BE(Computer Science and Engineering)',
 'BE, CSE ',
 'BE- Mechanical Engineering ',
 'BE-ECE',
 'BE-ECE ',
 'BE. Computer Science and Engineering ',
 'BE. ECE',
 'BE. Mechanical',
 'BE.,',
 'BE.CIVIL',
 'BE.CSE',
 'BE/ECE',
 'BIOMEDICAL ENGINEERING',
 'BSC (Physics), SJC, Trichy.... MBA (HR and Finance), SHC, Vellore',
 'BSC COMPUTER SCIENCE ',
 'BSC VISUAL COMMUNICATION ',
 'BSC.INFORMATION TECHNOLOGY',
 'BSc Computer Science ',
 'BSc Maths With Computer application ',
 'BTECH -IT',
 'Bachelor Of Computer Application ',
 'Bachelor in Architecture',
 'Bachelor of Commerce (BCOM)',
 'Bachelor of Computer Application',
 'Bachelor of Computer Application ',
 'Bachelor of Engineering (CSE)',
 'Bachelor of Engineering (Electrical and Electronics Engineering)',
 'Bachelor of commerce ',
 'Bachelor of computer application',
 'Bachelor of computer application (BCA)',
 'Bachelor of computer applications ',
 'Bachelor of engineering ',
 "Bachelor's in computer science",
 "Bachelor's of computer Application",
 'Bca',
 'Bcom',
 'Bcom Computer Applications ',
 'Be',
 'Biotechnology ',
 'Bsc',
 'Bsc ',
 'Bsc Computer Science ',
 'Bsc Computer science ',
 'Bsc Forensic science ',
 'Bsc IT',
 'Bsc Mathamatics ',
 'Bsc Physics ',
 'Bsc computer science',
 'Bsc computer science ',
 'Bsc cs',
 'Bsc forensic science ',
 'Bsc mathematics ',
 'Bsc(CS)',
 'Bsc.Trauma care management ',
 'Btech',
 'Btech(IT)',
 'COMPUTER SCIENCE AND ENGINEERING ',
 'CSE',
 'Catering technology ',
 'Civil Engineering',
 'Civil engineering ',
 'Computer Science',
 'Computer Science ',
 'Computer Science and Engineering ',
 'Computer science ',
 'Computer science and engineering',
 'Computer science and engineering ',
 'Computer science engineering ',
 'Computers Engineering',
 'Cs',
 'Cse',
 'Diploma ',
 'Diploma in Electrical and Electronic Engineering ',
 'Diploma in Electrical and Electronics Engineering ',
 'Diploma in Electrical and electronics engineering ',
 'Diploma in agriculture',
 'Diploma in computer engineering ',
 'ECE, BE',
 'EEE',
 'EIE',
 'Electrical and electronics engineering ',
 'Electronic And Communication Engineering ',
 'Electronics and Communication Engineering',
 'Electronics and Communication Engineering ',
 'Electronics and communication ',
 'Electronics and communication Engineering',
 'Electronics and communication engineering ',
 'IT',
 'Information Technology',
 'Information Technology( IT )',
 'M. C. A',
 'M. Sc Mathematics',
 'M.B.A., (finance)',
 'M.E',
 'M.E Computer science and engineering ',
 'M.Lib.I.Sc',
 'M.Sc Mathematics',
 'M.Sc Mathematics ',
 'M.Sc maths ',
 'M.Sc. Chemistry ',
 'M.sc',
 'M.sc mathematics ',
 'M.sc(Computer Science)',
 'M.sc.Data Analytics ',
 'MBA',
 'MBA ',
 'MBA (HR)',
 'MBA (HRM)',
 'MBA - ONLINE',
 'MBA HR',
 'MBA-HR',
 'MCA',
 'MCA ',
 'ME',
 'ME Thermal Engineering',
 'MSc Mathematics ',
 'Master of Science',
 'Masters of Computer Applications ',
 'Mathematics',
 'Mba ',
 'Mca',
 'Mechanical',
 'Mechanical ',
 'Mechanical Engineering',
 'Mechanical engineering',
 'Mechanical engineering ',
 'Msc',
 'Msc computer science ',
 'Msc cs',
 'Msc in Mathematics',
 'No dedree',
 'Studying in bsc biology ',
 'b.com',
 'b.sc  - computer science',
 'mca',
 'mechanical',
 'msc (CT)']

In [10]:
ustate = dfc.State.unique()
ustate = sorted(map(str,ustate))
ustate

[' Tiruvannamalai',
 'Andhra Pradesh',
 'Erode ',
 'India',
 'Kerala',
 'Namakkal',
 'Pondicherry',
 'Pondicherry ',
 'Puducherry',
 'Puducherry ',
 'TAMIL NADU',
 'TAMIL NADU ',
 'TAMILNADU',
 'TAMILNADU ',
 'Tamil Nadu',
 'Tamil Nadu ',
 'Tamil nadhu',
 'Tamil nadu',
 'Tamil nadu ',
 'TamilNadu',
 'TamilNadu ',
 'Tamilnadu',
 'Tamilnadu ',
 'Tamilnadu -Salem ',
 'karur',
 'tamil nadu',
 'tamil nadu ',
 'tamilnadu',
 'tamilnadu ']

In [11]:
dfc.loc[dfc["State"] == 'India']

,Are you open to learn ?,Do you have laptop,Qualification,Degree,Pass-out Year,College Name,City,State,What you wan to learn ?,Technical Feeback by,Technical Comments,HR Comments
137,Yes,Yes,Engineering,B. Tech,2023,Sri manakula vinayagar engineering college,Pondicherry,India,Flutter Development,Vignesh,he is studing college 2nd year so he can't man...,NaN

In [38]:
bedeg = [' BE.computer science and engineering','B .E(electronics and instrumentation)',
 'B E - Mechanical',
 'B E, MECHANICAL',
 'B E. Computer Science ', 'B. E',
 'B. E computer science (still studying )  below the year of pass out was fake sorry for that one',
 'B. E-EEE',
 'B. E-computer science and engineering ','B.E',
 'B.E ',
 'B.E (EEE)',
 'B.E - CSE',
 'B.E COMPUTER SCIENCE AND ENGINEERING ',
 'B.E CSE',
 'B.E CSE ( Studying)  sir below this my year of pass out is fake sorry for that ',
 'B.E Civil Engineering ',
 'B.E Computer science and engineering',
 'B.E E.C.E',
 'B.E ECE',
 'B.E Electrical and Electronic Engineering ',
 'B.E Electronics and communication engineering',
 'B.E MECHANICAL ',
 'B.E Mechanical ',
 'B.E mechanical',
 'B.E(CSE)',
 'B.E(CSE) ',
 'B.E(ECE)',
 'B.E.',
 'B.E. (Computer Science and Engineering)',
 'B.E. - Computer Science and Engineering ',
 'B.E. Electronic and Instrumentation Engineering ',
 'B.E. computer science and engineering ',
 'B.E.CSE',
 'B.E.CSE ',
 'B.E.Computer Science and Engineering',
 'B.E/MECHANICAL ENGINEERING ', 'BE',
 'BE ',
 'BE (CSE)',
 'BE (computer science and engineering)',
 'BE - COMPUTER SCIENCE AND ENGINEERING',
 'BE - EEE',
 'BE - Mechanical Engineering ',
 'BE - mechanical engineering ',
 'BE Biomedical Engineering ',
 'BE COMPUTER SCIENCE AND ENGINEERING ',
 'BE CSE',
 'BE CSE ',
 'BE ECE',
 'BE ECE ',
 'BE EEE',
 'BE Electronic and Communication Engineering ',
 'BE MECHANICAL ENGINEERING',
 'BE MECHANICAL ENGINEERING ',
 'BE Mechanical Engineering',
 'BE Mechanical Engineering ',
 'BE computer Science and engineering',
 'BE computer science and engineering ',
 'BE mechanical ',
 'BE mechanical engineering ',
 'BE(CSE)',
 'BE(Computer Science and Engineering)',
 'BE, CSE ',
 'BE- Mechanical Engineering ',
 'BE-ECE',
 'BE-ECE ',
 'BE. Computer Science and Engineering ',
 'BE. ECE',
 'BE. Mechanical',
 'BE.,',
 'BE.CIVIL','mechanical'
 'BE.CSE',
 'BE/ECE''B.e computer Science ',
 'B.e. Mech','Be','B.E','Bachelor of Engineering (CSE)',
 'Bachelor of Engineering (Electrical and Electronics Engineering)',
 'Bachelor of engineering ',
'COMPUTER SCIENCE AND ENGINEERING ',
'CSE',
'Civil Engineering',
 'Civil engineering ',
 'Computer Science and Engineering ',
'Computer science and engineering',
 'Computer science and engineering ',
 'Computer science engineering ',
 'Computers Engineering',
'Cse','ECE, BE',
 'EEE',
 'EIE',
 'Electrical and electronics engineering ',
 'Electronic And Communication Engineering ',
 'Electronics and Communication Engineering',
 'Electronics and Communication Engineering ',
 'Electronics and communication ',
 'Electronics and communication Engineering',
 'Electronics and communication engineering ','Mechanical',
 'Mechanical ',
 'Mechanical Engineering',
 'Mechanical engineering',
 'Mechanical engineering ','B.e computer Science ','mechanical','BE.CSE',
 'BE/ECE']

btecdeg = [
 'Agriculture engineering',
 'B .tech IT',
 'B Tech IT',
 'B Tech information Technology ',
 'B Tech(Information Technology)',
 'B. Tech',
 'B. Tech (IT) ',
 'B. Tech (Information technology) ',
 'B. Tech - CHEMICAL ENGINEERING',
 'B. Tech - ECE',
 'B. Tech(IT) ',
 'B. Tech,Chemical Engineering ',
 'B.Tech',
 'B.Tech (Biotechnology)',
 'B.Tech (IT)',
 'B.Tech - ECE',
 'B.Tech - Information Technology',
 'B.Tech - Information technology ',
 'B.Tech Artificial Intelligence and Data Science (2025)',
 'B.Tech IT',
 'B.Tech Information Technology ',
 'B.Tech in IT',
 'B.Tech(IT)',
 'B.Tech-I.T.',
 'B.tech',
 'B.tech (mechanical engineering)',
 'B.tech / Information technology ',
 'B.tech Chemical Engineering ',
 'B.tech EEE',
 'BTECH -IT',
 'Btech',
 'Btech(IT)',
 'IT',
 'Information Technology',
 'Information Technology( IT )' 'B.Tech','BIOMEDICAL ENGINEERING']

bscdeg = [ 'B sc',
 'B sc ',
 'B sc computer science',
 'B sc computer science ',
 'B. SC BIOINFORMATICS',
 'B. Sc',
 'B. Sc Mathematics',
 'B. Sc Physics',
 'B.Sc ',
 'B.Sc (mathematics)',
 'B.Sc Computer Science ',
 'B.Sc Mathematics ',
 'B.Sc Physics ',
 'B.Sc.CS',
 'B.Sc.Mathematics',
 'B.sc',
 'B.sc Computer Science ',
 'B.sc Computer science ',
 'B.sc INFORMATION TECHNOLOGY',
 'B.sc chemistry ',
 'B.sc information technology',
 'B.sc information technology and management ',
 'B.sc mathematics ',
 'B.sc physics ',
 'B.sc(Food Science& Nutrition)',
 'B.sc(multimedia and web technology)',
 'BCS',
 'BSC (Physics), SJC, Trichy.... MBA (HR and Finance), SHC, Vellore',
 'BSC COMPUTER SCIENCE ',
 'BSC VISUAL COMMUNICATION ',
 'BSC.INFORMATION TECHNOLOGY',
 'BSc Computer Science ',
 'BSc Maths With Computer application ',
 'Bsc',
 'Bsc ',
 'Bsc Computer Science ',
 'Bsc Computer science ',
 'Bsc Forensic science ',
 'Bsc IT',
 'Bsc Mathamatics ',
 'Bsc Physics ',
 'Bsc computer science',
 'Bsc computer science ',
 'Bsc cs',
 'Bsc forensic science ',
 'Bsc mathematics ',
 'Bsc(CS)',
 'Bsc.Trauma care management ','B.Sc', "Bachelor's in computer science",'Computer Science',
 'Computer Science ',
 'Computer science ',
 'Cs','Studying in bsc biology ',
 'b.sc  - computer science','Mathematics','Biotechnology ',
 'Catering technology ','Information Technology( IT )']

badeg = ['B. A - History',
'B.A English',
 'B.A English literature ',
 'B.A., English ',]

bcomdeg = [ 'B. Com',
 'B.COM',
 'B.com',
 'B.com CA',
 'B.com corporate secretaryship ',
 'B.com with Computer Application ',
 'Bcom',
 'Bcom Computer Applications ',
 'b.com','Bachelor of Commerce (BCOM)',
 'Bachelor of commerce ']

bcadeg = [ 'BCA',
 'BCA ',
 'BCA(bachelor of computer applications)',
 'BCA(computer application)',
 'Bachelor Of Computer Application ',
'Bachelor of Computer Application',
'Bachelor of Computer Application ',
 'Bachelor of computer application',
 'Bachelor of computer application (BCA)',
 'Bachelor of computer applications ',
 "Bachelor's of computer Application",
 'Bca','BACHELOR OF COMPUTER APPLICATION']

nodeg = [12,'No dedree']

bbadeg = [ 'BBA',
 'BBA -CA ']

barchdeg = ['Bachelor in Architecture']

dip = ['Diploma ',
 'Diploma in Electrical and Electronic Engineering ',
 'Diploma in Electrical and Electronics Engineering ',
 'Diploma in Electrical and electronics engineering ',
 'Diploma in agriculture',
 'Diploma in computer engineering ']

mscdeg = [ 'M. Sc Mathematics',
 'M.Sc Mathematics',
 'M.Sc Mathematics ',
 'M.Sc maths ',
 'M.Sc. Chemistry ',
 'M.sc',
 'M.sc mathematics ',
 'M.sc(Computer Science)',
 'M.sc.Data Analytics ',
 'Msc',
 'Msc computer science ',
 'Msc cs',
 'Msc in Mathematics','msc (CT)','MSc Mathematics ','Master of Science']

mbadeg = ['MBA',
 'MBA ',
 'MBA (HR)',
 'MBA (HRM)',
 'MBA - ONLINE',
 'MBA HR',
 'MBA-HR', 'M.B.A., (finance)','Mba ']

mcadeg = [ 'M. C. A',
 'MCA',
 'MCA ',
'Masters of Computer Applications ',
'Mca',
'mca']

medeg = ['M.E',
 'M.E Computer science and engineering ',
'ME',
 'ME Thermal Engineering']

In [39]:
dfc['Degree'] = dfc['Degree'].replace(bedeg, 'B.E')
dfc['Degree'] = dfc['Degree'].replace(btecdeg, 'B.Tech')
dfc['Degree'] = dfc['Degree'].replace(bscdeg, 'B.Sc')
dfc['Degree'] = dfc['Degree'].replace(badeg, 'B.A')
dfc['Degree'] = dfc['Degree'].replace(bcomdeg, 'B.Com')
dfc['Degree'] = dfc['Degree'].replace(bcadeg, 'BCA')
dfc['Degree'] = dfc['Degree'].replace(nodeg, 'NO DEGREE')
dfc['Degree'] = dfc['Degree'].replace(bbadeg, 'BBA')
dfc['Degree'] = dfc['Degree'].replace(barchdeg, 'B.Arch')
dfc['Degree'] = dfc['Degree'].replace(dip, 'Diploma')
dfc['Degree'] = dfc['Degree'].replace(mscdeg, 'M.Sc')
dfc['Degree'] = dfc['Degree'].replace(mbadeg, 'MBA')
dfc['Degree'] = dfc['Degree'].replace(mcadeg, 'MCA')
dfc['Degree'] = dfc['Degree'].replace(medeg, 'M.E')

In [40]:
udegree = dfc.Degree.unique()
udegree = sorted(map(str, udegree))
udegree

['B.A',
 'B.Arch',
 'B.Com',
 'B.E',
 'B.Sc',
 'B.Tech',
 'BBA',
 'BCA',
 'Diploma',
 'M.E',
 'M.Lib.I.Sc',
 'M.Sc',
 'MBA',
 'MCA',
 'NO DEGREE']

In [41]:
dfc

,Are you open to learn ?,Do you have laptop,Qualification,Degree,Pass-out Year,City,State,Course
0,Yes,Yes,Engineering,B.E,2021,Perambalur,Tamilnadu,Frontend Development
1,Yes,Yes,Others,BCA,2023,Madurai,Tamilnadu,UI/UX Design
2,Yes,Yes,Arts & Science,B.A,2021,Erode,Tamilnadu,Backend Development
3,Yes,Yes,Arts & Science,BCA,2023,Ariyalur,Tamilnadu,Backend Development
4,Yes,Yes,Arts & Science,M.Sc,2023,Dharmapuri,Tamilnadu,Cybersecurity
...,...,...,...,...,...,...,...,...
424,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
425,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
426,Yes,Yes,Arts & Science,M.Sc,2023,Trichy,Tamilnadu,Data science
427,Yes,Yes,Arts & Science,B.Sc,2019,Trichy,Tamilnadu,Backend Development
428,Yes,Yes,Arts & Science,B.Com,2019,Trichy,Tamilnadu,Backend Development

In [42]:
ucity = dfc.City.unique()
ucity=sorted(map(str,ucity))
ucity

['Ariyalur',
 'Aruppukottai, Virudhunagar',
 'Aundipatti',
 'Chennai',
 'Cheyyar',
 'Chinnasalem ',
 'Chittoor',
 'Coimbatore',
 'Cuddalore',
 'Dharmapuri',
 'Dindugal',
 'Erode',
 'Gobichettipalayam ',
 'Gowrivakkam',
 'Hosur',
 'KARUR',
 'KRISHNAGIRI ',
 'Kallakurichi ',
 'Kanchipuram',
 'Karaikal',
 'Karaikudi',
 'Kariapatti',
 'Karur',
 'Kovilpatti',
 'Krishnagiri ',
 'Kumbakonam',
 'Lalgudi',
 'MUDUKULATHUR',
 'Madurai',
 'Mailadurai',
 'Mannarkkad',
 'Mannarkudi',
 'Marthandam ',
 'Mayiladuthurai ',
 'Nagapattinam',
 'Nagercoil ',
 'Namakkal',
 'Nannilam',
 'Nellore',
 'Ooty',
 'Panruti ',
 'Papanasam ',
 'Paramakudi',
 'Perambalur',
 'Pollachi ',
 'Puducherry',
 'Pudukotai',
 'Rajapalayam',
 'Ramanathapuram',
 'Rameshwaram ',
 'Ranipet',
 'Salem',
 'Sankagiri RS',
 'Sankarankovil ',
 'Sathyamangalam ',
 'Sattur',
 'Sayalkudi',
 'Surandai ',
 'TIRUPATTUR ',
 'Tanjore',
 'Tenkasi',
 'Thathanur',
 'Thirukovilur ',
 'Thiruvannamalai',
 'Thiruvarur',
 'Thoothukudi ',
 'Tiruchendur',
 'Tirunelveli',
 'Tirupattur',
 'Tiruppur',
 'Tiruttani ',
 'Trichy',
 'Vedarnyam ',
 'Vellore',
 'Villupuram',
 'Virudhunagar',
 'kulithalai']

In [94]:
Ariyalurcity = ['Ariyalur','Ariyalur ']

chennaicity =[ 'Avadi','CHENNAI','Chengalpet','Chennai','Chennai ','Chennal ','Chennnai ','Redhills ','THIRUVALLUR','Thirumangalam','chennai',
'chennai 600073','India ','Poonamallee','Thiruvallur','Thiruvallur ','Nazarathpettai (Chennai)']

kovaicity=['COIMBATORE','COIMBATORE ','Coimbatore','Coimbatore ','coimbatore']
 
kadalurcity = ['Cuddalore','Cuddalore ','Cuddalore District']

dharmcity = ['Dharmapuri','Dharmapuri ']

dingducity =[ 'Dindigul','Dindigul ','Dindugal ']

erodcity = [ 'Erode','Erode ','Erode(Anthiyur)','erode']

hosurcity = ['Hosur','Hosur ']

kanchicity = ['KANCHIPURAM','Kanchipuram','Kanchipuram ']

Krishnacity = ['Krishnagiri ','KRISHNAGIRI ']

karaikalcity = ['Karaikal','Karaikal ']

karakudicity = ['Karaikudi','Karaikudi ', 'karaikudi']

karurcity =[ 'Karur','Karur ','KARUR']

maduraicity = ['MADURAI','Madurai','Madurai ']
 
mannarkudicity=['Mannargudi','Mannargudi ']

nammakalcity = ['NAMAKKAL','Namakkal','Namakkal ']

paramakudicity = [ 'PARAMAKUDI','Paramakudi']

perambalurcity = ['Perambalur','Perambalur ','Perambalur District']

puduchercity = ['Pondicherry','Puducherry','Puducherry ']
 
pudukotaicity=[ 'Pudukkottai','Pudukkottai ']
 
ranipettaicity =['RANIPET','Ranipettai','ranipettai']
 
ramanathapuramcity = ['Ramanathapuram','Ramanathapuram ']

salemcity= ['SALEM ','Salem','Salem-636005 ']

tirichycity = ['TIRUCHIRAPALLI','TRICHY','Tiruchirapalli','Tiruchirapalli ','Tiruchirappalli', 'Trichirappalli ','Trichy','Trichy ',]

tanjorecity = ['Tanjore','Thanjavur','Thanjavur ']

tenkasicity = ['Tenkasi','Tenkasi ','Pavoorchatram - Tenkasi district']
 
thirunelvelicity = ['Thirunelveli','Tirunelveli','Tirunelveli ']

thiruvarurcity=[ 'Thiruvarur','Thiruvarur ']

tiruchendurcity = ['Tiruchendur','Tiruchendur ']
 
tirupatturcity =  ['Tirupattur','Tirupattur ','TIRUPATTUR','TIRUPATTUR ']

tiruppurcity = ['Tiruppur','Tiruppur ','Tirupur','Tirupur ','Tiurpur ']

vellorecity = ['VELLORE','Vellore','Vellore ','Vellore District ']

villupuramcity = ['Villupuram','Villupuram ']

virudhunagarcity = ['Virudhunagar','Virudhunagar ','Aruppukottai, Virudhunagar']

In [95]:
dfc['City']=dfc['City'].replace(Ariyalurcity,'Ariyalur')
dfc['City']=dfc['City'].replace(chennaicity,'Chennai')
dfc['City']=dfc['City'].replace(kovaicity,'Coimbatore')
dfc['City']=dfc['City'].replace(kadalurcity,'Cuddalore')
dfc['City']=dfc['City'].replace(dharmcity,'Dharmapuri')
dfc['City']=dfc['City'].replace(dingducity,'Dindugal')
dfc['City']=dfc['City'].replace(erodcity,'Erode')
dfc['City']=dfc['City'].replace(hosurcity,'Hosur')
dfc['City']=dfc['City'].replace(kanchicity,'Kanchipuram')
dfc['City']=dfc['City'].replace(karaikalcity,'Karaikal')
dfc['City']=dfc['City'].replace(karakudicity,'Karaikudi')
dfc['City']=dfc['City'].replace(karurcity,'Karur')
dfc['City']=dfc['City'].replace(maduraicity,'Madurai')
dfc['City']=dfc['City'].replace(mannarkudicity,'Mannarkudi')
dfc['City']=dfc['City'].replace(nammakalcity,'Namakkal')
dfc['City']=dfc['City'].replace(paramakudicity,'Paramakudi')
dfc['City']=dfc['City'].replace(perambalurcity,'Perambalur')
dfc['City']=dfc['City'].replace(puduchercity,'Puducherry')
dfc['City']=dfc['City'].replace(pudukotaicity,'Pudukotai')
dfc['City']=dfc['City'].replace(ranipettaicity,'Ranipet')
dfc['City']=dfc['City'].replace(ramanathapuramcity,'Ramanathapuram')
dfc['City']=dfc['City'].replace(salemcity,'Salem')
dfc['City']=dfc['City'].replace(tirichycity,'Trichy')
dfc['City']=dfc['City'].replace(tanjorecity,'Tanjore')
dfc['City']=dfc['City'].replace(tenkasicity,'Tenkasi')
dfc['City']=dfc['City'].replace(thirunelvelicity,'Tirunelveli')
dfc['City']=dfc['City'].replace(thiruvarurcity,'Thiruvarur')
dfc['City']=dfc['City'].replace(tiruchendurcity,'Tiruchendur')
dfc['City']=dfc['City'].replace(tirupatturcity,'Tirupattur')
dfc['City']=dfc['City'].replace(tiruppurcity,'Tiruppur')
dfc['City']=dfc['City'].replace(vellorecity,'Vellore')
dfc['City']=dfc['City'].replace(villupuramcity,'Villupuram')
dfc['City']=dfc['City'].replace(virudhunagarcity,'Virudhunagar')
dfc['City']=dfc['City'].replace(Krishnacity,'Krishnagiri')

In [96]:
ucity = dfc.City.unique()
ucity=sorted(map(str,ucity))
ucity

['Ariyalur',
 'Aundipatti',
 'Chennai',
 'Cheyyar',
 'Chinnasalem ',
 'Chittoor',
 'Coimbatore',
 'Cuddalore',
 'Dharmapuri',
 'Dindugal',
 'Erode',
 'Gobichettipalayam ',
 'Gowrivakkam',
 'Hosur',
 'Kallakurichi ',
 'Kanchipuram',
 'Karaikal',
 'Karaikudi',
 'Kariapatti',
 'Karur',
 'Kovilpatti',
 'Krishnagiri',
 'Kumbakonam',
 'Lalgudi',
 'MUDUKULATHUR',
 'Madurai',
 'Mailadurai',
 'Mannarkkad',
 'Mannarkudi',
 'Marthandam ',
 'Mayiladuthurai ',
 'Nagapattinam',
 'Nagercoil ',
 'Namakkal',
 'Nannilam',
 'Nellore',
 'Ooty',
 'Panruti ',
 'Papanasam ',
 'Paramakudi',
 'Perambalur',
 'Pollachi ',
 'Puducherry',
 'Pudukotai',
 'Rajapalayam',
 'Ramanathapuram',
 'Rameshwaram ',
 'Ranipet',
 'Salem',
 'Sankagiri RS',
 'Sankarankovil ',
 'Sathyamangalam ',
 'Sattur',
 'Sayalkudi',
 'Surandai ',
 'Tanjore',
 'Tenkasi',
 'Thathanur',
 'Thirukovilur ',
 'Thiruvannamalai',
 'Thiruvarur',
 'Thoothukudi ',
 'Tiruchendur',
 'Tirunelveli',
 'Tirupattur',
 'Tiruppur',
 'Tiruttani ',
 'Trichy',
 'Vedarnyam ',
 'Vellore',
 'Villupuram',
 'Virudhunagar',
 'kulithalai']

In [97]:
dfc

,Are you open to learn ?,Do you have laptop,Qualification,Degree,Pass-out Year,City,State,Course
0,Yes,Yes,Engineering,B.E,2021,Perambalur,Tamilnadu,Frontend Development
1,Yes,Yes,Others,BCA,2023,Madurai,Tamilnadu,UI/UX Design
2,Yes,Yes,Arts & Science,B.A,2021,Erode,Tamilnadu,Backend Development
3,Yes,Yes,Arts & Science,BCA,2023,Ariyalur,Tamilnadu,Backend Development
4,Yes,Yes,Arts & Science,M.Sc,2023,Dharmapuri,Tamilnadu,Cybersecurity
...,...,...,...,...,...,...,...,...
424,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
425,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
426,Yes,Yes,Arts & Science,M.Sc,2023,Trichy,Tamilnadu,Data science
427,Yes,Yes,Arts & Science,B.Sc,2019,Trichy,Tamilnadu,Backend Development
428,Yes,Yes,Arts & Science,B.Com,2019,Trichy,Tamilnadu,Backend Development

In [98]:
dfc = dfc.drop(dfc.columns[[5,9,10,11]],axis=1)

IndexError: index 9 is out of bounds for axis 0 with size 8

In [99]:
dfc

,Are you open to learn ?,Do you have laptop,Qualification,Degree,Pass-out Year,City,State,Course
0,Yes,Yes,Engineering,B.E,2021,Perambalur,Tamilnadu,Frontend Development
1,Yes,Yes,Others,BCA,2023,Madurai,Tamilnadu,UI/UX Design
2,Yes,Yes,Arts & Science,B.A,2021,Erode,Tamilnadu,Backend Development
3,Yes,Yes,Arts & Science,BCA,2023,Ariyalur,Tamilnadu,Backend Development
4,Yes,Yes,Arts & Science,M.Sc,2023,Dharmapuri,Tamilnadu,Cybersecurity
...,...,...,...,...,...,...,...,...
424,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
425,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
426,Yes,Yes,Arts & Science,M.Sc,2023,Trichy,Tamilnadu,Data science
427,Yes,Yes,Arts & Science,B.Sc,2019,Trichy,Tamilnadu,Backend Development
428,Yes,Yes,Arts & Science,B.Com,2019,Trichy,Tamilnadu,Backend Development

In [100]:
ustate = dfc.State.unique()
ustate = sorted(map(str,ustate))
ustate

['Andhra Pradesh', 'Kerala', 'Pudhucherry', 'Tamilnadu']

In [101]:
Tamilstate = [' Tiruvannamalai',
 'Erode ',
 'India',
 'Namakkal',
 'TAMIL NADU',
 'TAMIL NADU ',
 'TAMILNADU',
 'TAMILNADU ',
 'Tamil Nadu',
 'Tamil Nadu ',
 'Tamil nadhu',
 'Tamil nadu',
 'Tamil nadu ',
 'TamilNadu',
 'TamilNadu ',
 'Tamilnadu',
 'Tamilnadu ',
 'Tamilnadu -Salem ',
 'karur',
 'tamil nadu',
 'tamil nadu ',
 'tamilnadu',
 'tamilnadu ']

pudhucherrystate = ['Pondicherry',
 'Pondicherry ',
 'Puducherry',
 'Puducherry ',]

In [102]:
dfc['State'] = dfc['State'].replace(Tamilstate,'Tamilnadu')
dfc['State'] = dfc['State'].replace(pudhucherrystate,'Pudhucherry')

In [103]:
dfc

,Are you open to learn ?,Do you have laptop,Qualification,Degree,Pass-out Year,City,State,Course
0,Yes,Yes,Engineering,B.E,2021,Perambalur,Tamilnadu,Frontend Development
1,Yes,Yes,Others,BCA,2023,Madurai,Tamilnadu,UI/UX Design
2,Yes,Yes,Arts & Science,B.A,2021,Erode,Tamilnadu,Backend Development
3,Yes,Yes,Arts & Science,BCA,2023,Ariyalur,Tamilnadu,Backend Development
4,Yes,Yes,Arts & Science,M.Sc,2023,Dharmapuri,Tamilnadu,Cybersecurity
...,...,...,...,...,...,...,...,...
424,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
425,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
426,Yes,Yes,Arts & Science,M.Sc,2023,Trichy,Tamilnadu,Data science
427,Yes,Yes,Arts & Science,B.Sc,2019,Trichy,Tamilnadu,Backend Development
428,Yes,Yes,Arts & Science,B.Com,2019,Trichy,Tamilnadu,Backend Development

In [104]:
dfc.rename(columns= {'What you wan to learn ?':'Course' },inplace=True)

In [105]:
dfc

,Are you open to learn ?,Do you have laptop,Qualification,Degree,Pass-out Year,City,State,Course
0,Yes,Yes,Engineering,B.E,2021,Perambalur,Tamilnadu,Frontend Development
1,Yes,Yes,Others,BCA,2023,Madurai,Tamilnadu,UI/UX Design
2,Yes,Yes,Arts & Science,B.A,2021,Erode,Tamilnadu,Backend Development
3,Yes,Yes,Arts & Science,BCA,2023,Ariyalur,Tamilnadu,Backend Development
4,Yes,Yes,Arts & Science,M.Sc,2023,Dharmapuri,Tamilnadu,Cybersecurity
...,...,...,...,...,...,...,...,...
424,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
425,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
426,Yes,Yes,Arts & Science,M.Sc,2023,Trichy,Tamilnadu,Data science
427,Yes,Yes,Arts & Science,B.Sc,2019,Trichy,Tamilnadu,Backend Development
428,Yes,Yes,Arts & Science,B.Com,2019,Trichy,Tamilnadu,Backend Development

In [106]:
ucourse = dfc.Course.unique()
ucourse = sorted(map(str,ucourse))
ucourse

['Automation testing',
 'Backend Development',
 'Blockchain',
 'Business Development',
 'Businss Analysis',
 'Cybersecurity ',
 'Data Analytics',
 'Data science ',
 'DevOps(Cloud)',
 'Digital Marketing',
 'Flutter Development',
 'Frontend Development',
 'Frontend testing ',
 'Fullstack',
 'Graphics Design',
 'HR/Admin',
 'Hr recruiter ',
 'Java',
 'No Idea',
 'Python',
 'Testing',
 'UI/UX Design',
 'Video Editing',
 'Wordpress Development',
 'Youtube / Content Creation']

In [107]:
Blockch = ['Blockchain Dev or Devops(Cloud)',
 'Blockchain Developer'] 
DataAna = ['Data Analysis ',
 'Data Analyst',
 'Data Analyst ',
 'Data Analyst and Business Analyst',
 'Data Analytics',
 'Data Analytics ',
 'Data analyst',
 'Data analyst ',
 'Data analytics ']
 
Jav = ['Full Stack java developer',
 'Full stack java developer','Java',
 'Java selenium tester ']
 
Fullsta = ['Full Stack web development or AI based any course ',
 'Full stack Development',
 'Full stack developement ',
 'Full stack developer ',
 'Full stack development ',
 'Full stack web development ',
 'Web Development ']
  
Noide= ['I did not decide what to learn I need your suggestions',
 'Want to discuss']
 
 
 
pytho = ['Python class ', 
 'Python developer ']
 
testi=['Software Testing ',
 'Software Testing and UI/UX',
 'Software testing ',
 'Software testing , manual or automation testing']

In [108]:
dfc['Course'] = dfc['Course'].replace(Blockch,'Blockchain')
dfc['Course'] = dfc['Course'].replace(DataAna,'Data Analytics')
dfc['Course'] = dfc['Course'].replace(Jav,'Java')
dfc['Course'] = dfc['Course'].replace(Fullsta,'Fullstack')
dfc['Course'] = dfc['Course'].replace(Noide,'No Idea')
dfc['Course'] = dfc['Course'].replace(pytho,'Python')
dfc['Course'] = dfc['Course'].replace(testi,'Testing')

In [109]:
dfc

,Are you open to learn ?,Do you have laptop,Qualification,Degree,Pass-out Year,City,State,Course
0,Yes,Yes,Engineering,B.E,2021,Perambalur,Tamilnadu,Frontend Development
1,Yes,Yes,Others,BCA,2023,Madurai,Tamilnadu,UI/UX Design
2,Yes,Yes,Arts & Science,B.A,2021,Erode,Tamilnadu,Backend Development
3,Yes,Yes,Arts & Science,BCA,2023,Ariyalur,Tamilnadu,Backend Development
4,Yes,Yes,Arts & Science,M.Sc,2023,Dharmapuri,Tamilnadu,Cybersecurity
...,...,...,...,...,...,...,...,...
424,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
425,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
426,Yes,Yes,Arts & Science,M.Sc,2023,Trichy,Tamilnadu,Data science
427,Yes,Yes,Arts & Science,B.Sc,2019,Trichy,Tamilnadu,Backend Development
428,Yes,Yes,Arts & Science,B.Com,2019,Trichy,Tamilnadu,Backend Development

In [110]:
ucourse = dfc.Course.unique()
ucourse = sorted(map(str,ucourse))
ucourse

['Automation testing',
 'Backend Development',
 'Blockchain',
 'Business Development',
 'Businss Analysis',
 'Cybersecurity ',
 'Data Analytics',
 'Data science ',
 'DevOps(Cloud)',
 'Digital Marketing',
 'Flutter Development',
 'Frontend Development',
 'Frontend testing ',
 'Fullstack',
 'Graphics Design',
 'HR/Admin',
 'Hr recruiter ',
 'Java',
 'No Idea',
 'Python',
 'Testing',
 'UI/UX Design',
 'Video Editing',
 'Wordpress Development',
 'Youtube / Content Creation']

In [111]:
dfc

,Are you open to learn ?,Do you have laptop,Qualification,Degree,Pass-out Year,City,State,Course
0,Yes,Yes,Engineering,B.E,2021,Perambalur,Tamilnadu,Frontend Development
1,Yes,Yes,Others,BCA,2023,Madurai,Tamilnadu,UI/UX Design
2,Yes,Yes,Arts & Science,B.A,2021,Erode,Tamilnadu,Backend Development
3,Yes,Yes,Arts & Science,BCA,2023,Ariyalur,Tamilnadu,Backend Development
4,Yes,Yes,Arts & Science,M.Sc,2023,Dharmapuri,Tamilnadu,Cybersecurity
...,...,...,...,...,...,...,...,...
424,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
425,Yes,Yes,Engineering,B.E,2021,Trichy,Tamilnadu,UI/UX Design
426,Yes,Yes,Arts & Science,M.Sc,2023,Trichy,Tamilnadu,Data science
427,Yes,Yes,Arts & Science,B.Sc,2019,Trichy,Tamilnadu,Backend Development
428,Yes,Yes,Arts & Science,B.Com,2019,Trichy,Tamilnadu,Backend Development

In [113]:
filename = "Sencholafinal.xlsx"

dfc.to_excel(filename)